.container__small-card {
  width: 700px;
  margin-bottom: 15px;
}

.container__small-card-content {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.small-card__photo > a > img{
  border-radius: 2px;
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
  transition: all 0.5s;
  cursor: pointer;
}

.small-card__photo > a > img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  border-radius: 5px;
}

.small-card__title > a > h1{
  display: flex;
  justify-content: center;
}

.container__small-card__separator {
  margin-top: 10px;
}
